/*NAVBAR*/
#login{
    background-color:#F0E4F2;
    border-radius:20px; 
    color:black;
}
#signup{
    background-color: black;
    border-radius:20px; 
    color:white;
}
.button{
margin-left:60%;
}
#login,#signup{
  margin-left: 10px;
}

/* Cards */
.card{
    margin-top: 10%;
    background-color: #002855;
    color: white;
    border-radius: 20px;
}
.main .card-title{
color: orange;
font-size: 30px;
padding: 20px 0 20px 0;
}
.main .card-text{
    font-size: 20px;
}
.main .card-body{
    height: 670px;
}
.main #go{
    width: 50%;
    margin-top: 5%;
}
.list-group-item{
    background-color:#D9D9D9;
}
