/* /NAVBAR/ */
#login{
  background-color:#F0E4F2;
  border-radius:20px; 
  color:black;
}
#signup{
  background-color: black;
  border-radius:20px; 
  color:white;
}
.button{
margin-left:60%;
}
#login,#signup{
margin-left: 10px;
}

/* Main Section Styles */

.main {
  text-align: center; /* Center-aligning content */
  margin-top: 30px; /* Adding space between navbar and main content */
  height: 600px;
  width: 100%;
  /* background-color:rgba(242,204,143,0.2) ; */
}
#side_img{
  margin-top: 50px;
  margin-left: 15px;
  height: 500px;

}

.form_body {
  margin: auto; /* Centering the form */
  max-width: 400px; /* Limiting form width */
  background-color: #ffffff; /* Form background color */
  padding: 20px; /* Adding padding to the form */
  border-radius: 8px; /* Adding border radius */
  box-shadow: 0px 9px 10px 0px; /* Adding shadow effect */
}

.inputbox {
  width: calc(100% - 30px); /* Making input fields full width */
  margin: 5px auto; /* Adding space around input fields */
  padding: 5px; /* Adding padding to input fields */
  border: 1px solid #ced4da; /* Input field border */
  border-radius: 4px; /* Adding border radius */
  box-sizing: border-box; /* Including padding in input width */
}

h1 {
  color: #333; /* Heading color */
}

a {
  color: #007bff; /* Link color */
  text-decoration: none; /* Removing underline from links */
}

a:hover {
  text-decoration: underline; /* Underline effect on hover */
}
